@charset "utf-8";

/* popup */
.mfp-wrap{-webkit-overflow-scrolling:touch}
.mfp-zin.mfp-bg,
.mfp-slide-b.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.mfp-zin.mfp-bg.mfp-ready,
.mfp-slide-b.mfp-bg.mfp-ready{opacity:.8;}
.mfp-zin.mfp-bg.mfp-removing,
.mfp-slide-b.mfp-bg.mfp-removing{opacity:0;}
.mfp-zin .z-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);}
.mfp-zin.mfp-ready .z-anim{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.mfp-zin.mfp-removing .z-anim{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.mfp-slide-b .z-anim{opacity:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.mfp-slide-b.mfp-ready .z-anim{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.mfp-slide-b.mfp-removing .z-anim{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.popup-wrap{position:relative;background:#fff;margin:20px auto;border-radius:10px;}
.fade-slideup .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateY(100%);transform:translateY(100%);}
.fade-slideup.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.fade-slideup.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);}
.popup-wrap.fullpage{margin:0;min-height:100vh;}
[class*=popup-wrap] button.mfp-close,
.popup-wrap button.mfp-arrow{width:21px;height:21px;background:url(../img/common/popup_close.jpg) 50% 50% no-repeat;top:12px;right:11px;font-size:0;opacity:1;}
[class*=popup-wrap] .con-wrap{padding:48px 40px;}
[class*=popup-wrap] .s-logo{text-align:center;}
[class*=popup-wrap] .tit{font-size:30px;color:#3a3a3a;font-weight:bold;text-align:center;margin-top:45px;}
[class*=popup-wrap]#popup-fee{border-radius:0;;height:calc(100vh - 40px);overflow-y:auto;}
[class*=popup-wrap]#popup-fee .con-wrap{padding:100px 20px}
[class*=popup-wrap].popup-food{border-radius:0;}
[class*=popup-wrap].popup-food .con-wrap{padding:0;}
[class*=popup-wrap].popup-food button.mfp-close, .popup-wrap button.mfp-arrow{width:30px;height:30px;background:url(../img/common/btn_close.png) 0 0 no-repeat;}

.cs-popup-dimm{position:fixed;left:0;top:0;width:100%;height:100%;background:#0b0b0b;opacity:0.8;z-index:1045;display:none;}
.cs-popup-wrap{position:fixed;z-index:1045;left:0;top:50%;transform:translateY(-50%);width:100%;display:none;}
.cs-popup-inner{background:#fff;border-radius:10px;margin:20px;position:relative;}
.cs-popup-wrap.cs-bottom, .cs-popup-wrap.cs-fullpage{transform:translateY(0%);}
.cs-popup-wrap.cs-bottom{top:inherit;bottom:0;}
.cs-popup-wrap.cs-bottom .cs-popup-inner, .cs-popup-wrap.cs-fullpage .cs-popup-inner{margin:0;}
.cs-popup-wrap.cs-bottom .cs-popup-inner{border-radius:10px 10px 0 0;}
.cs-popup-wrap.cs-bottom button.mfp-close{right:20px;}
.cs-popup-wrap.cs-fullpage{top:0;height:100%;}
.cs-popup-wrap.cs-fullpage .cs-popup-inner{border-radius:0;height:100%;}
.cs-popup-wrap.cs-fullpage button.mfp-close{left:27px;top:23px;background:url(../images/icons/Icon_Header_Close_BK.svg) 0 0 no-repeat;}
.cs-popup-wrap.cs-fullpage h3.tit{padding:0;}
.cs-popup-wrap.cs-fullpage .con-wrap{margin-top:30px;}

.fix-bottom{overflow:hidden !important;}/* 스크롤 버그 해결 */
.fix-bottom .mfp-content{vertical-align:bottom;}
.fix-bottom .mfp-container{height:auto;top:inherit;bottom:0;}
.fix-bottom .popup-wrap{margin:0;min-height:auto;border-radius:10px 10px 0 0;}
.fix-bottom .popup-wrap button.mfp-close,
.fix-bottom .popup-wrap button.mfp-arrow{right:20px;}
.fix-bottom .popup-wrap .con-wrap{padding:0 20px;}

/* tab */
.tab-base{display:flex;}
.tab-base li{width:33.333%;border-bottom:1px solid #9d9d9d;}
.tab-base li a{display:block;font-size:22px;color:#969696;font-weight:500;text-align:center;padding:13px 0;}
.tab-base li.on{border-color:#000;}
.tab-base li.on a{color:#121212;font-weight:500;}
.panel-base{margin-top:40px;overflow:hidden;}
.panel-base > li{display:none;}

.select-base{position:relative;display:block;width:120px;height:41px;border:1px solid #c7c7c7;cursor:pointer;}
.select-base:after{content:'';display:block;background:url(../img/common/btn_arrow.png) 0 0 no-repeat;width:17px;height:10px;position:absolute;right:11px;top:15px;}
.select-base .value{display:block;padding-left:10px;padding-right:30px;height:41px;line-height:41px;font-size:16px;color:#8d8d8d;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select-base select{position:absolute;left:0;top:0px;padding-left:10px;width:100%;height:41px;line-height:41px;font-size:16px;text-align:left;border:0;background:#fff;opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;}
.select-base.disabled{background:rgba(0, 0, 0, 0.04);cursor:default;}
.select-base.disabled select{display:none;}

.input-base{border:1px solid #c7c7c7;font-size:16px;padding:7.5px 10px;}
.btn-base{background-color:#ad9068;color:#fff;font-size:16px;padding:12.5px 10px;text-align:center;line-height:1;vertical-align:middle;display:inline-block;}
.btn-base.tp2{background-color: #2b2b2b;padding:13px 20px;width:100%;font-size:22px;font-weight:bold;}
.textarea-base{border:1px solid #c7c7c7;font-size:16px;padding:7.5px 10px;width:100%;height:85px;}

.search-top{display:flex;justify-content:space-between;}
.search-tab{display:flex;}
.search-tab li{}
.search-tab li a{display:block;font-size:20px;color:#1d1d1d;background-color:#e6e6e6;padding:15px;width:247px;text-align:center;border:1px solid #c1c1c1;}
.search-tab li.on a{background-color:#ad9068;color:#fff;border-color:#ad9068;}
.search-area{display:flex;gap:0 7px;/*justify-content:flex-end;*/height:41px;}
.search-area .btn-base{min-width:120px;}

.form-area{margin:0 auto;width:350px;}
.form-list li{margin-top:7px;}
.form-list li:first-child{margin-top:0;}
.form-list .input-base{width:100%;}

.form-area .other{display:flex;justify-content:space-between;margin-top:40px;}
.form-area .other li a{display:flex;align-items:center;gap:0 8px;}
.form-area .other li .txt{font-size:20px;color:#424242;}

.chk-base{display:inline-block;}
.chk-base > *{vertical-align:middle;color:#797979;}
.chk-base input[type="checkbox"]{margin:0;}