@charset "utf-8";

.skip-navi{position:absolute;left:0;top:0;z-index:9999;width:100%;text-align:center;}
.skip-navi a{position:absolute;left:-9999px;top:-9999px;}
.skip-navi a:focus, .skip-navi a:active, .skip-navi a:hover{display:block;left:0;top:0;padding:7px 10px 5px;background:#000;color:#fff;font-weight:bold;font-size:14px;}

body{width:100%;background: #000;}
#wrapper{margin:0 auto;background:#fff;}
#wrapper, #header{min-width:1600px;}

#header{position:absolute;left:0;top:0;margin:0 auto;width:100%;z-index:5;}
#header, #header #gnb > li ul{background-color:rgba(0, 0, 0, 0.35);transition:background-color 0.2s;}
#header .inner{width:1600px;height:100px;margin:0 auto;position: relative;}
#header h1{padding-top:32px;}
#header h1 a{display:inline-block;width:242px;height:36px;background:url(../img/common/h1_logo.png) 0 0 no-repeat;font-size:0;vertical-align:top;}
#header .hospital-swiper{position: absolute;left:334px;top:26px;width:150px;}
#header .hospital-swiper .swiper-slide{opacity:0 !important;}
#header .hospital-swiper .swiper-slide-active{opacity:1 !important;}
#header .hospital-swiper .swiper-button-next,
#header .hospital-swiper .swiper-button-prev{width:7px;height:13px;z-index:1;top:40px;}
#header .hospital-swiper .swiper-button-prev{background:url(../img/common/ico_arrow_l.png) 0 0 no-repeat;left:-20px;}
#header .hospital-swiper .swiper-button-next{background:url(../img/common/ico_arrow_r.png) 0 0 no-repeat;right:-20px;}
#header .hospital-swiper .swiper-button-next:after,
#header .hospital-swiper .swiper-button-prev:after{display:none;}

#header #gnb{position:absolute;left:594px;top:31px;}
#header #gnb > li{float:left;margin-left:49px;position: relative;}
#header #gnb > li:first-child{margin-left:0;}
#header #gnb > li > a{font-size:19px;font-weight:500;display:inline-block;padding:9px 18px;border-radius:30px;}
#header #gnb > li.on > a{background-color:#a07c46;}
#header #gnb > li ul{padding:25px 30px;position:absolute;left:0;top:69px;border-radius:0 0 15px 15px;white-space:nowrap;display:none;}
#header #gnb > li ul li{margin-top:30px;}
#header #gnb > li ul li:first-child{margin-top:0;}
#header #gnb > li ul li a{font-size:18px;display:inline-block;position: relative;padding-bottom:5px;}
/* #header #gnb > li ul li a:hover{border-bottom:1px solid #ac9068;} */
#header #gnb > li ul li a::after{content:'';position:absolute;left:50%;bottom:0;width:0;height:3px;background-color: #ac9068;transition:all .4s ease;}
#header #gnb > li ul li:hover a::after{width:100%;left:0;}
#header .mark{position:absolute;right:0;top:0;}

.btn-inquiry{position:fixed;right:50px;bottom:50px;z-index:1;}

#container{position: relative;overflow-y:auto;height:100vh;}

/* #header #gnb > li > a{color:#fff;}
#header #gnb > li.on > a{color:#fff;}
#header #gnb > li ul li a{color:#fff;}

body.main #header, body.main #header #gnb > li ul{background-color:rgba(255, 255, 255, 0.35);}
body.main #header #gnb > li > a{color:#000;}
body.main #header #gnb > li.on > a{color:#fff;}
body.main #header #gnb > li ul li a{color:#000;} */
#header, #header #gnb > li ul{background-color:rgba(255, 255, 255, 0.35);}
#header #gnb > li > a{color:#000;}
#header #gnb > li.on > a{color:#fff;}
#header #gnb > li ul li a{color:#000;}

body.main #container{height:auto;}
body.main #header.active, body.main #header.active #gnb > li ul,
#header.active, #header.active #gnb > li ul,
#header.change, #header.change #gnb > li ul{background-color:#fff;}

#footer{background-color:#ad9068;text-align:center;font-size:17px;color:#fff;}
#footer .foot-inner{padding:58px 0 42px;}
#footer .foot-menu{display:flex;justify-content:center;gap:0 35px;margin-top:25px;}
#footer .foot-menu li a{color:#fff;}
#footer .addr-list{display:flex;justify-content:center;gap:0 35px;margin-top:25px;}
#footer .copy{margin-top:35px;}

/* swiper & slick & flicking example */
.ex_wrp{max-width:790px;margin:0 auto;font-family:'Montserrat', 'Noto Sans KR', sans-serif;}
.ex_wrp pre{display:none;}
.ex_wrp pre.guide{display:block;}
.ex_wrp h2{font-size:24px;}
.ex_wrp .section{margin-top:50px;position: relative;}
.ex_wrp h3{font-size:18px;padding:0 0 10px;}
.ex_wrp h3 button{display:inline-block;background-color:#333;color:#fff;padding:5px;border-radius:3px;font-size:12px;}
.ex_wrp .code-area{padding:20px;background-color:#eee;margin-top:30px;}